
.header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.logoLogin {
    height: 122px;
    width: 100px;
    margin-top: 80px;
    margin-left: 77px
}

.form {
    padding: 32px 88px 48px 88px;
}

.signupSection {
    width: 598px;
    height: 630px;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 30%;
    border-radius: 30px;
    gap: 32px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px #0000000A;
    position: relative;
}

.headlineSectionDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 48px;
    gap: 12px;
}

.headlineSection {
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 422px;

}

.arrow {
    height: 32px;
    width: 32px;
    cursor: pointer;
    position: absolute;
    top: 64px;
    left: 48px;
}

.arrow:hover {
    height: 35px;
    width: 35px;
    background-color: #F6F7F8;
    border-radius: 50%;

}

.borderSignup {
    width: 150px;
    height: 3px;
    background-color: #29ABE2;
}

.headlineSignup {
    width: 315px;
    height: 73px;
    font-size: 61px;
    font-weight: 700;
    line-height: 73px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
}

.inputFields {
    width: 422px;
    height: 152px;
    gap: 32px;
}

.input {
    width: 422px;
    height: 48px;
    padding: 12px 21px 12px 21px;
    border-radius: 10px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    margin-bottom: 32px;
    cursor: pointer;

}

::placeholder {
    color: #D1D1D1;

}

.inputName {
    background-image: url(/img/register/person.svg);
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 24px 24px;
}

.inputMail {
    background-image: url(/img/login/mail.svg);
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 24px 24px;
}

.inputPassword {
    background-image: url(/img/login/lock.svg);
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 24px 24px;
}

.accept {
    height: 24px;
    padding-left: 39px;
    gap: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 165px;
}

.checkbox {
    cursor: pointer;
}

.checkbox:hover {}

.policyTypo {
    color: #29ABE2;
    cursor: pointer;
}

.policyTypo:hover {
    text-decoration: underline;
    font-weight: 500;
}

.signupButtonDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

.buttonSignup {
    width: 126px;
    height: 55px;
    border-radius: 8px;
    gap: 10px;
    padding: 15px 24px 15px 24px;
    background: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.buttonSignup:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.policies {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-left: 50%;
    margin-bottom: 50px;
    transform: translate(-50%, -50%);
    gap: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #A8A8A8;

}

.privacyPolicy {
    cursor: pointer;
}

.legalNotice {
    cursor: pointer;
}

.privacyPolicy:hover {
    color: #29ABE2;
    font-weight: 700;
}

.legalNotice:hover {
    color: #29ABE2;
    font-weight: 700;
}

.successButtonShow {
    width: 312px;
    height: 74px;
    position: absolute;
    right: 10%;
    top: 67px;
    border: none;
    box-shadow: 0px 0px 4px 0px #0000001A;
    color: white;
    animation-delay: 800ms;
    animation-duration: 0ms;
    background-color: #2A3647;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.successButtonHide {
    display: none;

}

@media (max-width: 1200px) {
    .signupSection {
        margin-top: 400px;

    }
}

@media (max-width: 620px) {
    body {
        width: fit-content;
       
    
    }
    .logoLogin {
        height: 78px;
        width: 64px;
        margin-top: 37px;
        margin-left: 38px;
    }
    .signupSection {
        width: 90%;
        height: 595px;
        margin-top: 350px;
        padding: 32px 16px 32px 16px;
    }

    .input {
        width: 100%;
        
        gap: 8px;
    }

    .inputFields {
        width: 100%;
        height: 296px;
        gap: 24px;

    }

    .form {
        padding: 32px 0px 48px 0px;
    }

    .accept {
        margin-top: 20px;
        padding-left: 0px;
    }

    .policies {
        width: 100%;
        height: 35px;
        margin-top: 0px;
        gap: 24px;
        justify-content: center;

    }

    .arrow {
        top: 60px;
        left: 16px;
    }

    .headlineSectionDiv {
        padding-top: 0px;
    }

    .headlineSection {
        gap: 5px;

    }

    .headlineSignup {
        font-size: 47px;

      
    }

    .buttonSignup {
        width: 180px;
        height: 51px;
        padding: 4px 0px 4px 0px;
        font-size: 16px;
        line-height: 19.2px;
    }

    .signupButtonDiv {
        margin-top: 20px;
    }

}

