.header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.logoLogin {
    height: 122px;
    width: 100px;
    margin-top: 80px;
    margin-left: 77px;
}

.registerSection {
    width: 279px;
    height: 49px;
    gap: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 67px;
    margin-right: 10%;
}

.typoRegister {
    font-size: 20px;
    font-weight: 400;
    color: black;
    line-height: 24px;
}

.buttonSignup {
    height: 49px;
    width: 91px;
    padding: 15px 16px 15px 16px;
    border-radius: 8px;
    border: none;
    gap: 10px;
    background-color: #2A3647;
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonSignup:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.loginSectionDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 149px;
    margin-bottom: 190px;
    width: 100%;
    margin-right: 0px;
}

.loginSection {
    width: 652px;
    height: 493px;
    padding: 48px 115px 48px 115px;
    border-radius: 30px;
    gap: 32px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px #0000000A;
}

.headlineSection {
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.borderLogin {
    width: 150px;
    height: 3px;
    background-color: #29ABE2;
}

.headlineLogin {
    width: 315px;
    height: 73px;
    font-size: 61px;
    font-weight: 700;
    line-height: 73px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
}

.inputFields {
    width: 422px;
    height: 152px;
    gap: 32px;
    margin-top: 32px;
}

.input {
    width: 422px;
    height: 48px;
    padding: 12px 21px 12px 21px;
    border-radius: 10px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    margin-bottom: 0px;
    cursor: pointer;
}

input:focus {
    outline: 1px solid #29ABE2;
}

input[type=checkbox]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('./../img/login/unchecked.svg') 0 0 no-repeat;
    background-size: contain;
    height: 16px;
    width: 16px;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
}

input[type=checkbox]:hover {
    background-color: #e5ebf2;
}

input[type=checkbox]:checked{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('/img/login/checked.svg') 0 0 no-repeat;
    background-size: contain; 
    height: 16px;
    width: 16px;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    z-index: 100;
}

 .inputEmpty{
    outline: 1px solid red;
 }

::placeholder {
    color: #D1D1D1;
}

.inputContainer {
    display: flex;
    align-items: center;
}

.inputSmallIcon {
    margin-left: -36px;
    cursor: pointer;
}

.messagebox {
    color: red;
    font-size: 10px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 17px;
    height: 10px;
   margin-left: 5px;
}

.remember {
    height: 24px;
    padding-left: 39px;
    gap: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}

.loginButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 48px;
    gap: 35px;
    margin-top: 32px;
}

.buttonLogin {
    width: 110px;
    height: 48px;
    padding: 15px 24px 15px 24px;
    border-radius: 8px;
    gap: 10px;
    background: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.buttonLogin:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.buttonGuest {
    width: 177px;
    height: 48px;
    padding: 15px 23px 15px 23px;
    border-radius: 8px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #2A3647;
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #2A3647;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.buttonGuest:hover {
    border: 2px solid #29ABE2;
    color: #29ABE2;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    padding: 15px 21px 15px 21px;
}

.policies {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-left: 50%;
    margin-bottom: 99px;
    transform: translate(-50%, -50%);
    gap: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #A8A8A8;
}

.privacyPolicy {
    cursor: pointer;
}

.privacyPolicy:hover {
    color: #29ABE2;
    font-weight: 700;
}

.legalNotice {
    cursor: pointer;
}

.legalNotice:hover {
    color: #29ABE2;
    font-weight: 700;
}

.logoStartscreen {
    position: absolute;
    width: 274px;
    height: 334.07px;
    top: 50%;
    left: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);
    animation-name: logo-animation;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: 700ms;
    animation-delay: 1s;
}

.startscreen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #F6F7F8;
    position: fixed;
    top: 0px;
    right: 0px;
    animation-name: background-animation;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
    animation-delay: 1s;
    opacity: 1;
}

.logoStartscreenWhite {
    display: none;
}

.headerResponsive {
    display: none;
    overflow-x: hidden;
}

@keyframes logo-animation {
    from {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 274px;
        height: 334.07px;
    }

    to {
        top: 80px;
        left: 77px;
        transform: none;
        width: 100px;
        height: 122px;
    }
}

@keyframes background-animation {
    from {
        opacity: 1;
        position: fixed;
    }

    to {
        opacity: 0;
        display: none;
    }
}

@media (max-width: 1000px) {
    .loginSectionDiv {
        margin-top: 265.5px;
        margin-bottom: 148.5px;
    }

    .header {
        display: none;
    }

    .headerResponsive {
        margin-top: 57.5px;
        margin-bottom: 42px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .registerSection {
        width: 279px;
        height: 49px;
        gap: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
        margin-right: 0%;
    }
}

@media (max-width: 800px) {
    .loginSection {
        width: 550px;
        height: 493px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .input {
        width: 100%;
    }

    .inputFields {
        width: 100%;
    }

    .inputMail {
        background-position: 95%;
    }

    .inputPassword {
        background-position: 95%;
    }

    .loginButtons {
        gap: 20px;
    }
}

@media (max-width: 620px) {
    .loginSectionDiv {
        margin-top: 205.5px;
        margin-bottom: 57.5px;
    }

    .logoStartscreen {
        display: none;
    }

    .logoStartscreenWhite {
        display: flex;
        width: 100.03px;
        height: 121.97px;
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 99;
        transform: translate(-50%, -50%);
        animation-name: logo-animation;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        animation-duration: 700ms;
        animation-delay: 1s;
        background-image: url(/img/login/logo_white.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    @keyframes logo-animation {
        from {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100.03px;
            height: 121.97px;
            position: fixed;
        }

        to {
            top: 37px;
            left: 38px;
            transform: none;
            width: 64px;
            height: 78px;
            background-image: url(/img/login/Capa\ 2.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
        }
    }

    .startscreen {
        background-color: #2A3647;
    }

    .loginSectionDiv {
        width: 100%;
    }

    .loginSection {
        width: 90%;
        height: 515px;
        padding: 32px 16px 32px 16px;
    }

    .headlineLogin {
        font-size: 47px;
        line-height: 56px;
    }

    .borderLogin {
        width: 88px;
        height: 3px;
    }

    .headlineSection {
        gap: 0px;
    }

    .inputFields {
        width: 100%;
        height: 152px;
        gap: 16px;
        margin-top: 32px;
    }

    .remember {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .loginButtons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 123px;
        width: 180px;
        gap: 21px;
        margin-top: 32px;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .buttonLogin {
        width: 180px;
        height: 51px;
        padding: 4px 0px 4px 0px;
        font-size: 16px;
        line-height: 19.2px;
    }

    .buttonGuest {
        width: 180px;
        height: 51px;
        padding: 4px 0px 4px 0px;
        font-size: 16px;
        line-height: 19.2px;
    }

    .buttonSignup {
        width: 104px;
    }

    .policies {
        width: 279px;
        height: 35px;
        margin-top: 0px;
        gap: 24px;
        justify-content: center;
    }
}