:root {
    --maincolor: #2A3647;
    --secondarycolor: #29ABE2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
   
}

@font-face {
    font-family: 'open sans';
    src: url(./../fonts/opensans/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: inter;
    src: url(./../fonts/inter/Inter-VariableFont_slnt\,wght.ttf);
}

a {
    text-decoration: none;
}

body {
    background-color: #F6F7F8;
}

.noDisplay {
    display: none !important;
}

main {
    padding-left: 328px;
    padding-top: 206px;
}

main h1 {
    font-size: 61px;
    font-weight: 700;
}

main h2 {
    font-size: 27px;
    font-weight: 400;
}

/* HEADER */
header {
    width: 100%;
    height: 96px;
    background-color: #FFF;
    position: fixed;
    z-index: 0;
    padding: 20px 40px 20px 348px;
    box-shadow: 0px 4px 4px 0px #0000001A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.headerLogo img {
    width: 32px;
    display: none;
}

.headerTitle {
    font-size: 20px;
    user-select: none;
}

.headerIcons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.helpIconContainer {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
}

.helpIcon {
    height: 40px;
    width: 40px;
}

.helpIcon:hover {
    height: 48px;
    width: 48px;
}

.activeUser {
    background-color: #FFF;
    border: 3px solid var(--maincolor);
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondarycolor);
    height: 56px;
    width: 56px;
}

.activeUser:hover {
    cursor: pointer;
    background-color: #0C2E621F;
}

.guestLogo {
    height: 24px;
}
/* SMALL MENU */

.smallMenu {
    position: fixed;
    top: 97px;
    right: 40px;
    display: flex;
    flex-direction: column;
    background-color: var(--maincolor);
    padding: 10px;
    border-radius: 20px 0px 20px 20px;
    z-index: 1000;
}

.smallMenu a {
    color: #CDCDCD;
    padding: 10px 16px 10px 16px;
    display: flex;
}

.smallMenu a:hover {
    cursor: pointer;
    background-color: #2A3D59;
}

/* NAVIGATION */

nav {
    background-color: var(--maincolor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 232px;
    padding: 64px 0;
    font-size: 16px;
    position: fixed;
    z-index: 101;
}

.sidenavLogoContainer {
    flex: 1;
}

.logo {
    height: 121px;

}

.sidenavLinks {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    flex: 1;
}

.sidenavLinks a {
    color: #CDCDCD;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 56px;
}

.sidenavLinks a:hover {
    background-color: #2A3D59;
}

.sidenavLinkActive {
    background-color: #091931;
    color: white !important;
}

.sidenavLinkActive img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(51deg) brightness(101%) contrast(104%);
}

.iconContainer {
    width: 27px;
}

.sideNavIcon {
    width: 100%;
}

.sidenavLegalLinks {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 8px;
    padding: 243px, 0px, 0px, 52px;
    flex: 1;
}

.sidenavLegalLinks a {
    color: #A8A8A8;
    padding: 8px;
}

.sidenavLegalLinks a:hover {
    font-weight: 700;
    color: var(--secondarycolor);
}

/* SMALL NAV */

.smallNav {
    position: fixed;
    background-color: var(--maincolor);
    width: 100%;
    bottom: 0;
    height: 80px;
    justify-content: center;
    gap: 25px;
    align-items: center;
    padding: 2px 16px;
    display: none;
    z-index: 999;
}

.smallNavElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 80px;
    height: 76px;
    border-radius: 16px;
}

.smallNavImg {
    height: 24px;

}

.smallNavText {
    color: #CDCDCD;
    font-family: 'open sans';
    line-height: 16.8px;
    font-size: 14px;
    text-align: center;
}

.smallNavLinkActive {
    background-color: #091931;
}

.smallNavLinkActive img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(51deg) brightness(101%) contrast(104%);
}

.smallNavLinkActive * {
    color: white !important;
}

@media (max-width: 1170px) {
    nav {
        width: 200px;
    }

    .sidenavLinks a {
        padding: 8px 41px;
    }

    main {
        padding-left: 230px;
        padding-top: 130px;
    }
}

@media (max-width: 1000px) {
    .sidenavLinks a {
        padding: 8px 32px;
    }
}

@media (max-width: 940px) {
    .smallNav {
        display: flex;
    }

    nav {
        display: none;
    }

    header {
        padding: 20px 16px;
        height: 80px;
    }

    .headerLogo img {
        display: block;
    }

    .headerTitle {
        display: none;
    }

    .smallMenu {
        top: 81px;
    }

    main {
        padding: 85px 32px;
    }

    main h1 {
        font-size: 47px !important;
    }

    main h2 {
        font-size: 20px !important;
    }
}

@media (max-width: 440px) {
    main {
        padding: 85px 6px !important;
    }
}